.homepage_div{
    text-align: center;
    margin-top:10px;
}
.padder{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title_header{
    text-align: center;
    padding-top:15px;
}

.cards_list{
margin-top: 25px;
   display: inline-block;
}