.custom_card{
    text-align: center;
}

.card{
    background: #F39C12;
}

.card-body{
    background: #F39C12;
}

.card-title{
    background: #F39C12;
}

.card-text{
    background: #F39C12;
    color: black;
}