.mainstats_card{
    padding:15px;
    background-color: #222222;
    width:70%;
    margin:auto;
    text-align: center;
    
}

.statl{
    background-color: #222222;
}

.statr{
    background-color: #222222;
    border-left: 2px solid white;
}

.txtcol{
    background-color: #222222;
    
}

.flex-container{
    display: flex;
  justify-content: center;
}

.numcol{
    background-color: #222222;
    color: #F39C12;

}

.mainstats_div{
    margin-top:25px;
}